<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @profile.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @profile.last_name %>
</p>

<p>
  <b>I can:</b>
  <%= @profile.i_can %>
</p>

<p>
  <b>I need:</b>
  <%= @profile.i_need %>
</p>

<p>
  <b>Facebook:</b>
  <%= @profile.facebook %>
</p>

<p>
  <b>Vkontakte:</b>
  <%= @profile.vkontakte %>
</p>

<p>
  <b>User:</b>
  <%= @profile.user_id %>
</p>

<p>
  <b>Photo:</b>
  <%= @profile.photo %>
</p>

<p>
  <b>Rate:</b>
  <%= @profile.rate %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
